html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

:root {
  --color: #1677ff;
}

.color {
  color: var(--color);
}

.bg_color {
  background-color: var(--color);
}

iframe {
  display: block;
  vertical-align: middle;
  border: none;
}
