.wrapLabel {
  padding: 10px 12px;
  background: rgba(232, 240, 251, 0.25098039215686274);
  font-size: 14px;
  color: #323233;
  > span {
    &:before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 14px;
      margin-right: 8px;
      background: var(--color);
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }
}
