.bg-image {
  position: relative;
  &::before {
    content: ""; /* 这个不要漏了 */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.2;
    background-image: url("../../assets/images/main/home-main.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
