.login {
  max-width: 100% !important;
  width: inherit;
  height: inherit;
  background-image: url("../../assets/images/login/login_bg.png");
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Microsoft YaHei;
  position: relative;

  .login-form {
    width: 400px;
    .submit {
      width: 100px;
    }
    h2 {
      color: var(--color);
    }
    .logo {
      width: 50px;
    }
  }
}
