@font-face {
  font-family: "iconfont"; /* Project id 3516531 */
  src: url('iconfont.woff2?t=1669105552949') format('woff2'),
       url('iconfont.woff?t=1669105552949') format('woff'),
       url('iconfont.ttf?t=1669105552949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slow-bootstrap_tabs:before {
  content: "\e6d4";
}

.slow-shanchusekuai:before {
  content: "\ec45";
}

.slow-tupian1:before {
  content: "\e629";
}

.slow-biaotizujian:before {
  content: "\e608";
}

.slow-tupian:before {
  content: "\e695";
}

